@font-face {
    font-family: 'averta-thin';
    src: url('/fonts/averta_thin-webfont.woff2') format('woff2'),
         url('/fonts/averta_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'averta';
    src: url('/fonts/averta-webfont.woff2') format('woff2'),
         url('/fonts/averta-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'averta-bold';
    src: url('/fonts/averta_bold-webfont.woff2') format('woff2'),
         url('/fonts/averta_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .font-title, .font-raleway{
    text-transform: uppercase;
    font-family: "averta-thin";
}

.title{
    font-family: 'averta-bold';
    src: url('/fonts/averta_bold-webfont.woff2') format('woff2'),
         url('/fonts/averta_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
  font-family: "averta";
}

.default .main{
  padding-top:90px;
}

.profile-page .main{
  padding-top: 0 !important;
}

.space-50{
  height: 50px;
  display: block;
}

.tag{
  padding: 3px 12px !important;
  font-size: 1em !important;
}

.tag:hover {
    padding-right: 24px !important;
}

.label.label-info{
  background-color: #f44336 !important;
}

.label.label-danger{
  margin: 2px;
}
