@font-face {
    font-family: 'averta-thin';
    src: url('/fonts/averta_thin-webfont.woff2') format('woff2'),
         url('/fonts/averta_thin-webfont.woff') format('woff');
    font-weight: lighter;
}

@font-face {
    font-family: 'averta';
    src: url('/fonts/averta-webfont.woff2') format('woff2'),
         url('/fonts/averta-webfont.woff') format('woff');
    font-weight: normal;

}

@font-face {
    font-family: 'averta-bold';
    src: url('/fonts/averta_bold-webfont.woff2') format('woff2'),
         url('/fonts/averta_bold-webfont.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'ff-tisa';
    src: url('/fonts/ff-tisa-ot-medium.woff2') format('woff2'),
         url('/fonts/ff-tisa-ot-medium.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'ff-tisa-italic';
    src: url('/fonts/ff-tisa-ot-medium-italic.woff2') format('woff2'),
         url('/fonts/ff-tisa-ot-medium-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ff-tisa-italic';
    src: url('/fonts/ff-tisa-ot-medium-italic.woff2') format('woff2'),
         url('/fonts/ff-tisa-ot-medium-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .font-title, .font-raleway{
    text-transform: uppercase;
    font-family: "averta-thin", sans-serif;
}

body{
  font-family: "averta", 'Helvetica', 'Arial', sans-serif;
  background-color: #f5f5f5;
}

.serif-font {
  font-family: "ff-tisa", "Times New Roman", serif;
}

.title, .card-title, .info-title, .footer-brand, .footer-big h5, .footer-big h4, .media .media-heading {
  font-family: "ff-tisa", "Times New Roman", serif;
}

.media .media-heading small {
  font-family: "averta", "Helvetica", "Arial", sans-serif;
}

/* .default .main{
  padding-top:90px;
} */

.main > .container {
    padding-bottom: 2em;
}

.navbar{
  padding: 0;
}
.default{
  padding-top: 50px;
}

.page-header.header-small{
  height:50vh;
  min-height: 50vh;
}

.navbar-brand img.logo{
  display: inline-block;
  width: 1.2em;
  margin-right: 0.4em;
}

.navbar div.avatar{
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 5px;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
}
.login-header {
  background-image: url('/img/bg7.jpg');
  background-size: cover;
  background-position: top center;
  min-height: 100vh;
  height: auto;
}

.alert +.page-header.header-filter.login-header {
    margin-top: -20px;
}

.login-header .container{
  padding-top: 15vh;
}

.login-header .footer .container{
  padding-top: 5vh;
}

.default .main{
  padding-top: 0 !important;
}

.default .page-header{
  height: 340px;
}

.space-50{
  height: 50px;
  display: block;
}

.tag{
  padding: 3px 12px !important;
  /* font-size: 1em !important; */
}

.tag:hover {
    padding-right: 24px !important;
}

.media .label{
  display: inline-block;
  margin-right: 0.2em;
}

.label.label-info{
  background-color: #f44336 !important;
}

.label.label-danger{
  margin: 2px;
}

.skills span.label{
  display: inline-block;
  margin-right: 0.3em;
}

.bootstrap-tagsinput-max input{
  display: none;
}

form .invalid-feedback {
    font-size: 80%;
    color: #bd081c;
}

.card-profile, .card-testimonial{
  margin-top: 50px;
  font-style: normal;
}

.card-profile, .card-testimonial p.time{
  text-align: left;
  font-size: 80%;
  font-style: italic;
  margin-bottom: 2px;
}

.card-profile, .card-testimonial p.card-description{
  text-align: left;
  font-style: normal;
}

.card-testimonial blockquote{
  font-size: 1em;
  text-align: left;
}

.media-footer p {
    font-size: 90%;
    margin-top: 1em;
}

.profile-page .profile img{
  background-color: #fff;
}

.profile-content .nav.nav-pills{
  margin-bottom: 2em;
}

.profile-page .page-header .fileinput{
  position:absolute;
  z-index: 999;
  top: 10%;
  left: 3%;
}

.form-group.required .control-label:after {
  content: " *";
  color: red;
}

.row.connections .media-footer small {
    display: block;
}

.default .profile .avatar{
  width: 160px;
  height: 160px;
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  transform: translateY(-50%);
  background-color: #fff;
}

.card-testimonial .card-avatar,
.media .avatar{
  width: 100px;
  height: 100px;
  background-color: #fff;
  background-size: cover;
  background-position: center center;
}

.media .avatar{
  width: 64px;
  height: 64px;
}

@media (max-width: 991px){
  .page-header {
      height: auto;
      min-height: inherit;
  }
}


@media (max-width: 767px){
  h1, .h1, .presentation-page .brand h1 {
    font-size: 2.5em;
  }

  .default .page-header {
    height: 15vh;
    min-height: 15vh;
  }

  /* .default .profile img{
    max-width: 100px;
  }
 */
  .default .profile .avatar{
    width: 100px;
    height: 100px;
  }

  .default .profile .name{
    margin-top: -50px;
  }


}
@media (min-width: 768px){
    .navbar .navbar-nav > li > a.profile-link{
      padding-top: 12px;
      padding-bottom: 8px;
    }

    .navbar {
      padding: 3px 0;
    }

    /* .page-header.header-small{
      min-height: 340px;
      height: 340px;
    } */
}
