@font-face {
    font-family: 'averta-thin';
    src: url('/fonts/averta_thin-webfont.woff2') format('woff2'),
         url('/fonts/averta_thin-webfont.woff') format('woff');
    font-weight: lighter;
}

@font-face {
    font-family: 'averta';
    src: url('/fonts/averta-webfont.woff2') format('woff2'),
         url('/fonts/averta-webfont.woff') format('woff');
    font-weight: normal;

}

@font-face {
    font-family: 'averta-bold';
    src: url('/fonts/averta_bold-webfont.woff2') format('woff2'),
         url('/fonts/averta_bold-webfont.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'ff-tisa';
    src: url('/fonts/ff-tisa-ot-medium.woff2') format('woff2'),
         url('/fonts/ff-tisa-ot-medium.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'ff-tisa-italic';
    src: url('/fonts/ff-tisa-ot-medium-italic.woff2') format('woff2'),
         url('/fonts/ff-tisa-ot-medium-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ff-tisa-italic';
    src: url('/fonts/ff-tisa-ot-medium-italic.woff2') format('woff2'),
         url('/fonts/ff-tisa-ot-medium-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .font-title, .font-raleway{
    text-transform: uppercase;
    font-family: "averta-thin", sans-serif;
}

body{
  font-family: "averta";
  background-color: #fff;
}

.serif-font {
  font-family: "ff-tisa", "Times New Roman", serif;
}

.title, .card-title, .info-title, .footer-brand, .footer-big h5, .footer-big h4, .media .media-heading {
  font-family: "ff-tisa", "Times New Roman", serif;
}

.media .media-heading small {
  font-family: "averta", "Helvetica", "Arial", sans-serif;
}

.default .main{
  padding-top:90px;
}

.page-header.header-small{
  height:50vh;
  min-height: 50vh;
}

.navbar-brand img.logo{
  display: inline-block;
  width: 1.2em;
  margin-right: 0.4em;
}

.navbar .avatar{
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 5px;
}
.login-header {
  background-image: url('/img/bg7.jpg');
  background-size: cover;
  background-position: top center;
}

.profile-page .main{
  padding-top: 0 !important;
}

.space-50{
  height: 50px;
  display: block;
}

.tag{
  padding: 3px 12px !important;
  /* font-size: 1em !important; */
}

.tag:hover {
    padding-right: 24px !important;
}

.label.label-info{
  background-color: #f44336 !important;
}

.label.label-danger{
  margin: 2px;
}

.skills span.label{
  display: inline-block;
}
